In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
import pandas as pd

Tuliskan kode lengkap jika kalian ingin mengambil hanya kolom film pemenang academy award pada tahun 2019 dari 
halaman berikut 
https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films . 
Data disimpan dan tampilkan dalam bentuk dataframe pandas. Pada Akhir kode kalian jangan lupa untuk print variabel dataframe 
kalian (misal, print(df)) ( maks 35 poin)

In [2]:
alamat = 'https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films'
html = urlopen(alamat)
data = bs(html)

In [5]:
table = data.findAll('table', {'class':'wikitable'})[0]

In [7]:
rows = table.findAll('tr')

In [10]:
winner = []
for row in rows:
    winner_data = []
    for data in row.findAll(['th','td']):
        winner_data.append(data.get_text().strip())
    winner.append(winner_data)

In [11]:
df_winner = pd.DataFrame(winner)

In [12]:
df_winner

,0,1,2,3
0,Film,Year,Awards,Nominations
1,Parasite,2019,4,6
2,Ford v Ferrari,2019,2,4
3,Learning to Skateboard in a Warzone (If You're...,2019,1,1
4,The Neighbors' Window,2019,1,1
...,...,...,...,...
1312,The Yankee Doodle Mouse,1943,1,1
1313,The Yearling,1946,2,7
1314,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1
1315,You Can't Take It with You,1938,2,7
1316,Zorba the Greek (Alexis Zorbas),1964,3,7